body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auth-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.auth-container h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.25rem;
}
.auth-container p {
    color: #555;
    font-size: 0.9rem;
}
.auth-container .form-control {
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}
.auth-container .form-group img {
    max-width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}
.auth-container .help-link {
    text-align: center;
    margin-top: 10px;
    color: #00b894;
}
.auth-container .btn-primary {
    background-color: #333;
    border-color: #333;
    border-radius: 8px;
    font-size: 16px;
}
.close-btn {
    font-size: 1.5rem;
    cursor: pointer;
}
.separator {
    border-bottom: 1px solid #e0e0e0;
    margin: 15px 0;
}
.logos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border: 0px #e0e0e0;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-container h5 {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
}
.card-container p {
    margin-bottom: 10px;
    color: #555;
}
.card-container .detail-label {
    font-weight: bold;
    color: #333;
}
.help-link a {
    text-decoration: none;
    color: #000000;
}
.help-link a:hover {
    color: #000000;
}